<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <h3 style="text-align: center;">Cronogrma de Actividades</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" placeholder="Search">
        </div>
        <div class="col-md-4">
            <div class="row h-50">
                <input style="text-align: center;" type="date">
            </div>
            <div class="row h-50">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light">Left</button>
                    <button type="button" class="btn btn-light">Middle</button>
                    <button type="button" class="btn btn-light">Right</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <select class="form-control">
                <option>ID--nombre Proyecto</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Actividad</th>
                <th scope="col">Asignado a</th>
                <th scope="col">cantidad</th>
                <th scope="col">T.Estimado</th>
                <th scope="col">T.Real</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha entrega</th>
                <th scope="col">Operacion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Analisis</th>
                <td>Aldri M</td>
                <td>20</td>
                <td>4hrs</td>
                <td>4hrs</td>
                <td>En curso</td>
                <td>24/07/2020</td>
                <td class="col-md-2">
                    <a style="justify-content: center;" href="" >
                        <i class="material-icons negro" title="enviar">visibility</i>
                    </a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>

</div>
