  <meta charset="UTF-8">
  <title>calibracion</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body>
  <section class="container-fluid">
    <div class="text-center mb-4 my-4">
      <h1>Cronograma de actividades</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 text-center">
        <table class="col-12">
          <div class="contenedor">
            <tr>
              <th>Id</th>
              <th>Actividad</th>
              <th>Asignado a:</th>
              <th> Cantidad</th>
              <th>Tiempo / fase</th>
              <th>Estado</th>
              <th>Fecha de entrega</th>
              <th>Evidencia</th>
            </tr>
            <tr>
              <td>1</td>
              <td>5w</td>
              <td>Aldrid Martinez</td>
              <td>3</td>
              <td>15 min</td>
              <td>En curso</td>
              <td>28/09/10</td>
              <td> <a href="https://drive.google.com/file/d/1EvX2KKcJQWelOiw4j5cwEx1Ygiy9LH57/view?usp=sharing">Oracle Certified.pdf</a> </td>
            </tr>
            <tr>
              <td>2</td>
              <td>5 porque</td>
              <td>Jesus Martinez</td>
              <td>5</td>
              <td>25 min</td>
              <td>En curso</td>
              <td>28/09/10</td>
              <td> <a href="https://drive.google.com/file/d/1EvX2KKcJQWelOiw4j5cwEx1Ygiy9LH57/view?usp=sharing">Oracle Certified.pdf</a> </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Como como</td>
              <td>Abraham nicolas</td>
              <td>5</td>
              <td>25 min</td>
              <td>En curso</td>
              <td>28/09/10</td>
              <td> <a href="https://drive.google.com/file/d/1EvX2KKcJQWelOiw4j5cwEx1Ygiy9LH57/view?usp=sharing" target="_blank">Oracle Certified.pdf</a> </td>
            </tr>
          </div>
        </table>
      </div>
    </div>
  </section>
  <div style="text-align: center;" class="my-4">
    <a class="botonEnlace btn btn-primary" href="http://localhost:4200/cronogramaActividades" role="button">Atras</a>
  </div>

